<% for event in @events %>
  <div>
    <%= content_tag :p, event.name %>
    <%= content_tag :p, event.start %>
    <%= content_tag :p, event.start.strftime('%b %-d, %Y @ %l:%M %P') %>
    <%= content_tag :p, event.end %>
    <%= content_tag :p, event.location %>
    <%= content_tag :p, event.description %>
    <%= content_tag :p, event.link %>
    <%= image_tag(event.thumbnail.to_s, :alt => 'image') %>
    <div> end</div>
  </div>
<% end %>