<style type="text/css">
@media screen and (max-width:600px) {
  .single-blog-post.main-content {
    width:100% !important;
    border-radius:0 !important;
  }
  .post-image-area.overlay-group {
    padding:5% 15px 5% 15px !important;
  }
  .wrapper.post-content {
    top:0;
    max-width:100% !important;
    border:none !important;
  }
}

.single-blog-post.main-content {
  position: relative;
  width: 80%;
  margin: 0 auto;
  height: auto;
  margin-bottom: 40px;
  margin-top: 20px;
  background-color: rgb(245,245,245);
  border-radius: 7px;
  overflow: hidden;
  box-shadow:inset 0 0 0 1px rgb(230,230,230)
}
.post-image-area.overlay-group {
  height:auto;
  width:100%;
  padding-top: 5%;
  padding-bottom: 10%;
  background-size:cover !important;
  background-position:center !important;
}
.overlay-top {
  opacity:1;
}
.title {
  margin-bottom:0;
}
.author {
  font-size:13pt;
}
.post-info.overlay-bottom {
  position:relative !important;
}
.wrapper.post-content {
  max-width:87.5%;
  font-size:13pt;
  border-radius:5px;
  border:1px solid rgb(235,235,235);
  margin-bottom:-25px;
}
</style>

<div class="single-blog-post main-content">

  <% if @post.nil? %>
  <h1>Not Found</h1>
  <p>Apologies, but no results were found for the requested archive. Perhaps searching will help find a related post</p>

  <% else %>
  <%= content_tag :div, class: 'post-image-area overlay-group', style: "background: url('#{@post.thumbnail}');" do %>

  <%= content_tag :div, '', class: 'overlay-top', style: "background-color:rgba(0,0,0,#{@post.thumbnail ? 0.4 : 0.0});" %>

  <div class="post-info overlay-bottom">
    <%= content_tag :h2, @post.title, class: 'title', style: "color: #{@post.thumbnail ? '#fff' : '#444'}" %>
    <%= content_tag :p, "by #{@post.author}", class: 'author', style: "color: #{@post.thumbnail ? '#eee' : '#555'}" %>
    <%= content_tag :p, @post.date.strftime('%B %d, %Y'), class: 'text-muted' %>
  </div>
  <% end %>

  <div class="wrapper post-content">
    <%= content_tag :p, @post.content.html_safe %>
  </div>
  <% end %>
</div>
