<% if home? %>
  <div class="overlay-group">
    <div class="overlay-top"></div>
<% end %>

<%= content_tag :header, class: "top-page-header #{ 'home-page-header' if home? }" do %>
  <div class="overlay-group mobile-top-nav-area">
  <div class="overlay-top"></div>
  <div class="overlay-bottom mobile-top-nav">
    <p class="close-button"><i class="fa fa-times"></i></p>

    <% nav_menu_items.each do |item| %>
      <p><%= link_to item[:title], item[:url] %><p>
    <% end %>

    <p class="text-small text-center">Stay in touch</p>
    <p class="social-media">
      <% social_menu_items.each do |item| %>
        <%= link_to item[:url] do %>
          <%= content_tag(:i, '', class: "fa #{item[:icon]}") %>
        <% end %>
      <% end %>
    </p>
  </div>
</div>
  <div class="<%= "overlay-bottom" if home? %> wrapper clearfix">
    <%= link_to image_tag("logo_oneline#{'_white' if home?}.png", class: 'logo'), home_url, class: 'logo-area' %>

    <div class="navigation-area">
      <ul class="navigation">
        <% nav_menu_items.each do |item| %>
          <li><%= link_to item[:title], item[:url] %></li>
        <% end %>
      </ul>
    </div>

    <div class="social-media-area">
      <ul>
        <% social_menu_items.each do |item| %>
          <li>
            <%= link_to item[:url] do %>
              <%= content_tag(:i, '', class: "fa #{item[:icon]}") %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="mobile-hamburger-area">
      <button class="btn"><i class="fa fa-bars"></i></button>
    </div>

    <% if home? %>
      <hgroup class="pitch-group" style="margin-top: 12%;">
        <h1 style="text-transform:capitalize;">Simple Solutions for Complex Problems</h1>
      </hgroup>

      <%= form_for(@member, html: { class: 'subscribe-form' }) do |f| %>
        <label>Sign up for news</label>
        <div class="subscribe-fields">
          <%= f.text_field :first_name, placeholder: 'Steve', class: 'name-field' %>
          <hr>
          <%= f.text_field :last_name, placeholder: 'Jobs', class: 'name-field' %>
          <hr>
          <%= f.email_field :email, placeholder: 'sjobs2@student.gsu.edu', class: 'email-field' %>
          <%= f.submit 'Subscribe'.upcase, class: 'submit-button' %>
        </div>
        <%= content_tag :span, class: "message #{notice ? 'success' : 'error'}" do %>
          <%= notice || error %>
        <% end %> <!-- END OF CONTENT -->
      <% end %> <!-- END OF FORM -->
    <% end %> <!-- END OF IF STATEMENT -->
  </div>

  <% if home? %>
    </div>
  <% end %>
<% end %> <!-- END OF HEADER -->
