<!DOCTYPE html>
<html>
  <head>
    <title>PantherHackers</title>
    <meta charset="utf-8">
		<meta name="description" content="">

    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Hind|Montserrat' %>

    <%= stylesheet_link_tag    'style.css' %>
    <%= stylesheet_link_tag    'mobile.css' %>
  </head>

  <body>
    <%= yield %>

    <footer class="top-footer theme-dark">
			<div class="wrapper">
        <%= image_tag('logo-01.png', class: 'logo-small') %>
				<p>Copyright &copy; <%= Date.today.year %> PantherHackers @ GSU</p>
				<p>
					<a href="https://www.facebook.com/PantherHackers" class="footer-social-icon"><i class="fa fa-facebook"></i></a> &nbsp;
					<a href="https://twitter.com/PantherHackers" class="footer-social-icon"><i class="fa fa-twitter"></i></a> &nbsp;
					<a href="https://instagram.com/pantherhackers/" class="footer-social-icon"><i class="fa fa-instagram"></i></a>&nbsp;
					<a href="mailto:hello@pantherhackers.com" class="footer-social-icon"><i class="fa fa-envelope-o"></i></a>
				</p>
			</div>
		</footer>

    <%= javascript_include_tag 'https://code.jquery.com/jquery-1.11.3.min.js' %>
    <%= javascript_include_tag 'collapse.js' %>
    <%= javascript_include_tag 'app.js' %>

		<% if is_home %>
			<script>
				document.querySelector('header').style.height = window.innerHeight + "px";

				$(function() {
					$('a[href*=#]:not([href=#])').click(function() {
						if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
							var target = $(this.hash);
							target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
							if (target.length) {
								$('html,body').animate({
									scrollTop: target.offset().top
								}, 1000);

								return false;
							}
						}
					});
				});
			</script>
		<% end %>
  </body>
</html>
