<!DOCTYPE html>
<html>
  <head>
    <title>PantherHackers</title>
    <meta charset="utf-8">
		<meta name="description" content="">
    
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Alice|Montserrat|Gentium+Basic|Raleway:600|Work+Sans' %>

    <%= stylesheet_link_tag    'style.css' %>
    <%= stylesheet_link_tag    'mobile.css' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
